body {
  margin: 0;
  font-family: arial;
}

.cornerthing 
{
  border-radius: 1rem 1rem 1rem 1rem;
  margin-top: -6rem;
  margin-left: 2rem;
  width: 13rem;
  height: 5rem;
  font-weight: bold;
  font-size: 0.8rem;
  position: absolute;
  background-color: #f7f8f9;
  color: black;
  display: flex;
  padding-left: 2rem;
  padding-right: 2rem;
  align-items: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-top: -7rem;
}

.cornerthing img{
  width: 3rem;
  border-radius: 2rem;
  margin-right: 1rem;
}

.logo {
  position:absolute;
  margin-top: -14rem;
  margin-left: 1.5rem;
}

.logo img {
  width: 4rem;
}

.nav {
  position: absolute;
  background-color: white;
  color: rgb(123, 123, 123);
  display: flex;
  width: 20rem;
  border-right-style: dashed;
  border-right-color: rgb(240, 240, 240);
  padding-top: 15rem;
}

.nav ul {
  padding: 0rem;
  margin: 0;
  list-style: none;
  gap: 1rem;
  font-size: 0.8rem;
  font-family: arial;
}

.nav ul div {
  margin-right: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  padding: 1rem;
  padding-left: 3.5rem;
}

.nav li {
  width: 20rem;
}

.nav li:hover {
  background-color: rgb(222, 222, 222);
}

.nav li.active {
  background-color: rgb(240, 240, 240);
}

.container {
  margin-left: 20rem;
  padding-left: 3rem;
  padding-top: 10rem;
}

.container button{
  font-size: 0.7rem;
  background-color: white;
  color: #19bb65;
  outline-style: solid;
  outline-color: #19bb65;
  border: none;
  padding: 0.2rem 0.4rem;
  font-weight: bold;
  border-radius: 0.5rem;
}

.container button:hover {
  outline-color: #0f5831;
 color: #0f5831;
}

.container button:active {
 outline-color: #19bb65;
 color: #19bb65;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #dbdbdb;
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8c8c8c;
}

.message_header {
  font-size: 2.25rem;
}

.fa {
  color: red;
}

.Loginbar {
  position: absolute;
  height: 10rem;
  display: flex;
}

.Loginbar button {
  font-size: 1.5rem;
  background-color: #19bb65;
  color: white;
  border: none;
  padding: 0.7rem 1rem;
  font-weight: bold;
  margin-left: 3rem;
  margin-top: 1.5rem;
}

.Loginbar select {
  font-size: 1.5rem;
  background-color: #19bb65;
  color: white;
  border: none;
  padding: 0.7rem 1rem;
  font-weight: bold;
  margin-left: 3rem;
  margin-top: 1.5em;
}

.Loginbar button:hover {
  background-color: #0f5831;
  color: white;
}

.Loginbar button:active {
  background-color: #19bb65;
  color: white;
}

.Topbar {
  position: absolute;
  margin-left: 20rem;
  padding-left: 1rem;
  margin-top: 3rem;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 77rem;
}

.Topbar a {
  text-decoration: none;
  font-size: 0.8rem;
  background-color: #19bb65;
  color: white;
  border: none;
  padding: 0.3rem 0.5rem;
  font-weight: bold;
}

.Topbar button:hover {
  background-color: #0f5831;
}

.Topbar button:active {
  background-color: #19bb65;
}

.Topbar a:hover {
  background-color: #0f5831;
}

.Topbar a:active {
  background-color: #19bb65;
}

.Topbar img {
  width: 2.3rem;
  border-radius: 2rem;
  margin-right: 1rem;
  vertical-align: middle;
}

.Topbar button {
  font-size: 0.8rem;
  background-color: #19bb65;
  color: white;
  border: none;
  padding: 0.3rem 0.5rem;
  font-weight: bold;
}

.Topbar li:hover {
  background-color: rgb(222, 222, 222);
}

.Topbar li.active {
  background-color: rgb(240, 240, 240);
}

.user-auth {
  list-style: none;
  display: flex;
}

.user-auth a {
  text-decoration: none;
  color: inherit;
  text-decoration: none;
  padding: 0.7rem 1rem;
}



.component_header {
  font-size: 2rem;
  font-weight: bold;
  margin-left: 2rem;
  margin-top: 1.2rem;

}

.component_parent {
  position: absolute;
  font-size: 2.25rem;
  width: 75rem;
  height: 40rem;
  margin-left: -2rem;
  margin-top: -2rem;
}

.component_parent textarea{
  font-family: Arial, Helvetica, sans-serif;
  resize: none;
}

.email_box_top {
  margin-top: 5rem;
  position: relative;
  width: 75rem;
  height: 3rem;
  background-color: #f0f0f0;
  border-radius: 1rem 1rem 0rem 0rem;
}

.email_box {
  position: relative;
  width: 75rem;
  height: 28rem;
  background-color: white;
  border-radius: 1rem 1rem 1rem 1rem;
  margin-left: 1rem;
  margin-top: 1rem;
  box-shadow: 0.5rem 0.5rem 0.9rem rgba(0, 0, 0, 0.05);
}

.email_searchBar {
  position: relative;
  width: 71.4rem;
  height: 2rem;
  background-color: #fafafa;
  border: 0.1rem solid rgb(201, 201, 201);
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  margin-top: 1rem;
  margin-left: 1.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: #2e2e2e;
}

.email_box_top_text {
  position: absolute;
  font-size: 1.4rem;
  font-weight: bold;
  color:#3c3c3c;
  margin-left: 2.5rem;
  margin-top: 0.8rem;
}

.email_info_header{
 position: relative;
 width: 74rem;
 height: 2.8rem;
 margin-left: .5rem;
 margin-top: 0.2rem;
 border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
 background-color: #f0f0f0;
}

.email_info_header_text{
position: absolute;
font-size: 2rem;
margin-top: -1.8rem;
margin-left: 4rem;
font-size: 1rem;
font-weight: bold;
opacity: 0.6;
display: grid;
grid-template-columns: repeat(4, 16rem);
}

.inbox_icon{
opacity: 0.6;
position: relative;
margin-left: 0.8rem;
font-size: 1.5rem;
}

.email_receive_box{
  position: relative;
  width: 65rem;
  height: 18rem;
  margin-left: 1.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;

}

.email_receive_parent{
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 16rem);
  width: 65rem;
  height: 3.5rem;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Email-grid-item-2{
  margin-left: -3rem;
}

.Email-grid-item-3{
  margin-left: -4rem;
}

.Email-grid-item-4{
  margin-left: 6rem;
}

.Receive-grid-item-1{
  font-weight: bold;
  margin-top: 1rem;
  margin-left: 3rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Receive-grid-item-2{
  margin-top: 1rem;
  margin-left: 0rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Receive-grid-item-3{
  margin-top: 1rem;
  margin-left: -1rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Receive-grid-item-4{
  margin-top: 1rem;
  margin-left: 9rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile{
  font-size: 2rem;
}

.profile img{
  width: 20rem;
}

.profile_logo{
  display: flex;
  justify-content: center;

}

.profile_logo img{
  width: 10rem;
  margin-left: -10rem;
}

.profile_orgname {
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-left: -10rem;
}

.profile_maincontent {
  margin-left: -10rem;
  padding: 0rem 5rem;
}

.profile_contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5rem;
}

.profile_description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5rem;
}

.profile_bottom_img{
  display: flex;
  justify-content: center;
  margin-left: -10rem;
}

.profile_bottom_img img {
  width: 70rem;
}

.feed_item {
  width: 40rem;
  box-shadow: 0.5rem 0.5rem 0.9rem rgba(0, 0, 0, 0.05);
  border-radius: 1rem 1rem 1rem 1rem;
  outline-style: solid;
  outline-color: #dbdbdb;
  outline-width: 0.01rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 1rem;
}

.feed_title {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.feed_title div {
  margin-left: 1rem;
}

.feed_title img {
  width: 2.3rem;
  border-radius: 2rem;
}

.post img{
  width: 40rem;
}

.post_caption {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  margin-right: 0.6rem;
}

.trash_icon {
  font-size: 1.3rem;
  
}

.analytics {
  justify-content: center;
  margin-top: 3rem;
  margin-right: 5rem;
  text-align: center;
}

.analytics_chart {
  width: 20rem;
  margin: 3rem;
  padding: 0rem 2rem 1rem 2rem;
  display: inline-block;
  box-shadow: 0.5rem 0.5rem 0.9rem rgba(0, 0, 0, 0.05);
  border-radius: 1rem 1rem 1rem 1rem;
  outline-style: solid;
  outline-color: #dbdbdb;
  outline-width: 0.1rem;
  background-color: white;
}

.analytics_heading {
  font-size: 1.5rem;
  padding: 1rem;
  font-weight: bold;
}

.analytics_subscript {
  font-size: 1rem;
}

.calendar_topbar {
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -4rem;
  font-weight: bold;
}

.calendar_topbar button {
  width: 2rem;
  height: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  border-radius: 2rem;
  outline-width: 0rem;
  font-size: 2rem;
  font-weight: bold;
}

.calendar_element {
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  width: 10rem;
  height: 10rem;
  outline-style: solid;
  outline-width: 0.01rem;
  outline-color: #dbdbdb;
  display: inline-flex;
}

.calendar_parent {
  width: 75rem;
  height: 50rem;
  
}

.calendar_element.current_date {
  background-color: #dbdbdb;
}

.element_content {
  display: flex;
  flex-direction: column;
}

.calendar_event {
  background-color: #19bb65;
  color: white;
  font-weight: bold;
  font-size: 0.7rem;
  width: 8rem;
  height: 1rem;
  margin-left: 0.5rem;
  padding: 0.25rem;
  padding-bottom: 0.75rem;
  margin-bottom: 0.1rem;
  border-radius: 0.3rem;
  align-items: center;
  text-overflow: ellipsis " [..]";
}

.login_page {
  margin-top: 15rem;
  margin-left: 15rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
}

.login_page h3 {
  font-size: 2rem;
}

.login_page button {
  font-size: 1rem;
  background-color: #19bb65;
  color: white;
  border: none;
  padding: 0.3rem 0.5rem;
  font-weight: bold;
}

.login_page button:hover {
  background-color: #0f5831;
}

.login_page button:active {
  background-color: #19bb65;
}

.login_page input {
  font-size: 1rem;
  margin: 0.2rem;
}

.error {
  background-color: #fac8c2;
  color: #520005;
  height: 2rem;
  width: 12rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  padding: 0.1rem;
  padding-left: 0.5rem;
  text-decoration: underline;
  margin-left: 8.8rem;
  box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.5);
}

.user-auth {
  margin-top: 2rem;
}

.login_page input[type="file" i]::-webkit-file-upload-button {
  border-radius: 1rem;
}

.login_page input[type="file" i]::-webkit-file-upload-button:hover {
  background-color: #adadad;
}

.home_post_buttons {
  display: flex;
  justify-content: space-around;
  margin-left: 2rem;
  width: 70rem;
  margin-top: -4rem;
  margin-bottom: 0rem;
}

.home_post_buttons button {
  font-size: 1rem;
  border-radius: 2rem;
  outline-width: 0.15rem;
  padding: 0.4rem;
  padding-right: 0.7rem;
}

.chat_window_parent {
  width: 70rem;
  display: flex;
}

.chat_window {
  border-left: #dbdbdb;
  border-left-style: solid;
  height: 40rem;
  width: 50rem;
  overflow-y: scroll;

}

.join_chat_container {
  height: 40rem;
  width: 20rem;
}

.chat_footer {
  position: absolute;
  margin-top: 41rem;
  margin-left: 23rem;
}

.chat_footer input {
  border-radius: 1rem;
  padding: 0.5rem;
}

.chat_footer button {
  font-size: 0.7rem;
  margin-left: 0.3rem;
  border-radius: 2rem;
  padding: 0.5rem;
  width: 2rem;
  color: #2d9afc;
  outline: #2d9afc;
  outline-style: solid;
}

.chat_footer button:hover {
  outline-color: #144e80;
 color: #144e80;
}

.chat_footer button:active {
 outline-color: #2d9afc;
 color: #2d9afc;
}


.message {
  background-color: #2d9afc;
  color: white;
  border-radius: 1rem;
  margin-top: 1rem;
  margin-left: 1rem;
  width: 8rem;
  padding: 0.0005rem;
  padding-left: 0.5rem;
}

#popup {
  display: none;
  position: absolute;
  margin-top: -52rem;
  margin-left: 50rem;
  padding: 2rem;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 1rem 1rem 2em rgba(0, 0, 0, 0.1);
  outline-style: solid;
  outline-color: #dbdbdb;
}

#popup textarea {
  outline-style: none;
  border-radius: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.5rem;
  resize: none;
}

#popup input {
  outline-style: none;
  border-radius: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 0.5rem;
}

#popup2 {
  display: none;
  position: absolute;
  margin-top: -52rem;
  margin-left: 15rem;
  width: 10rem;
  padding: 2rem;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 1rem 1rem 2em rgba(0, 0, 0, 0.1);
  outline-style: solid;
  outline-color: #dbdbdb;
}

#popup2 textarea {
  outline-style: none;
  border-radius: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.5rem;
  resize: none;
}

#popup3 {
  display: none;
  position: absolute;
  margin-top: 5rem;
  margin-left: -2rem;
  width: 10rem;
  padding: 2rem;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 1rem 1rem 2em rgba(0, 0, 0, 0.1);
  outline-style: solid;
  outline-color: #dbdbdb;
}

#popup3 textarea {
  outline-style: none;
  border-radius: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.5rem;
  width: 10rem;
  resize: none;
}

#popup3 input {
  outline-style: none;
  padding: 0.5rem;
  border-radius: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 0.5rem;
}

#popup4 {
  display: none;
  position: absolute;
  margin-top: 1rem;
  margin-left: 0rem;
  width: 20rem;
  padding: 2rem;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 1rem 1rem 2em rgba(0, 0, 0, 0.1);
  outline-style: solid;
  outline-color: #dbdbdb;
}

#popup4 textarea {
  outline-style: none;
  border-radius: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.5rem;
  width: 10rem;
  resize: none;
}

#popup4 input {
  outline-style: none;
  padding: 0.5rem;
  border-radius: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 0.5rem;
}

.profile_edit {
  margin-top: 2rem;
  width: 20rem;
  padding: 2rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 1rem 1rem 2em rgba(0, 0, 0, 0.1);
  outline-style: solid;
  outline-color: #dbdbdb;
}

.profile_edit textarea {
  outline-style: none;
  border-radius: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.5rem;
  width: 18rem;
  resize: none;
}

.profile_edit input {
  outline-style: none;
  padding: 0.5rem;
  border-radius: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 0.5rem;
}